body {
  background: #DDD;
  font-family: 'Signika', 'Arial';
  font-size: 14px;
  line-height: 18px;
}

.clear {
  clear: both;
}

#page {
  background: #fff;
}

#body_content,#main_content, #side_body_content {
  background: white;
  color: #333;
  padding: 20px;
}

#main_content {
  float: left;
  width: 460px;
}

#body_content_left {
  float: left;
  width: 460px;
}

#page_container > header {
  background: #22a7f2;
}

header h1 {
  padding: 24px 10px 10px;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

#menu ul {
  list-style: none;
  padding: 0px;
}
.menu li { margin-right: 0;}
#menu ul li {
  float: left;
}

#menu ul li a {
  color: #333;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}

#menu ul li.selected a, #menu ul li a:hover {
  background: #CCC;
}

